body {
  background-color: #30404d;
}

.container {
  width: 1080px;
  height: 100vh;
  margin: 20px auto;
}

.table-100 {
  width: 100%;
}

.spinner-wrapper {
  padding: 200px;
}



/* lib */

.bp3-portal.bp3-portal-2 {
  left: calc(50% - 260px);
  right: auto;
  top: 30px;
}
